*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    font-family: "Arial";
    background-color: #f3f3f3;
}

ul{
    list-style: none;
}

html {
    font-size: 1px;
}

.color{
    background-color: #ffffff;
}

.wrapper {
    padding: 0 15rem;
    margin: 0 auto;
    max-width: 960rem;
    box-sizing: border-box;
}

.logo,
.contacts{
    padding: 15rem 0rem;
}

.picture picture,
.picture img{
    width: 100%;
    min-height: 200rem;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
    
}

.img{
    margin-bottom: 31rem;
    column-gap: 10rem;
}

.img img{
    padding: 10rem 0px;
    width: 100%;
}

.flex-between {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.logo,
.contacts{
    align-items: center;
}

.logo p {
    font-size: 14rem;
    color: #5a5a5a;
}

.logo b {
    display: block;
    font-size: 24rem;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.logo{
    column-gap: 8rem;
}

.contacts img {
    color: #39930d;
}


.contacts, .contacts a {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
}

.contacts{
    column-gap: 52rem;
}

.contacts a{
    text-decoration: none

}

.contacts p, 
.contacts a{
    column-gap: 10rem;

}

main{
    padding-bottom: 46rem;
    
}

.menu p {
    background-color: #38930c;
    color: #fff;
    padding: 11rem 20rem;
    text-transform: uppercase;
    width: 100%;
}

.menu ul li a{
    padding: 20rem 11rem;
    font-size: 14rem;
    line-height: 30rem;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.main-text h2 {
    font-size: 24rem;
    color: #39930d;
    font-weight: bold;
    padding-bottom: 17rem;
}

.main-text article{
    margin-bottom: 17rem;
    justify-content: space-between;
}

.main-text p {
    max-width: 612rem;
    font-size: 14rem;
    line-height: 21rem;
    color: #343434;
}

.footer {
    background-color: #38930c;
    padding: 14rem;
    align-items: center;
}

.footer p{
    font-size: 14rem;
    color: #ffffff;
}

.footer img{
    color: #fff;
}

.social-networks li{
    column-gap: 11rem;
}


@media screen and (min-width: 967px){
    .flex-between {
        justify-content: space-between;
    }
}

@media screen and (min-width: 621px){
    .contacts p  {
        text-align: left;
    }

    .main{
        flex-wrap: nowrap;
    }
}
@media screen and (min-width: 1024px){
    html {
        font-size: 1px;
    }
}
@media screen and (min-width: 1040px){
    html {
        font-size: 1.2px;
    }
}
@media screen and (min-width: 2040px){
    html {
        font-size: 2px;
    }
}